extends layout

block content
  h1 Magical Mistery Tour
  p.lead Yellow submarine efficency app.
  hr
  .row
    .col-sm-4
      h2 Number of guests in each location
      ul
        each val, index in locations
          li= val.value + ': ' + val.key
    .col-sm-4
      h2 Total Guests Invited by Beatle
      ul
        each val, index in beatles
          li= val.value + ': ' + val.key
    .col-sm-4
      h2 Album Ranking
      ul
        each val, index in albums
          li= val.value + ': ' + val.key